<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>


  <!-- compiled css output -->
  <link href="css/ionic.app.css" rel="stylesheet">

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>


  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>
  <script src="lib/firebase/firebase.js"></script>
  <script src="lib/angularfire/dist/angularfire.min.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
</head>

<body ng-app="starter">

  <ion-pane ng-controller="AppCtrl">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Firebase Auth Sample</h1>
    </ion-header-bar>
    <ion-content class="login-container">
      <div class="col button-row text-center">
        <button type="button" class="button button-block button-dark icon-left ion-social-github" ng-click="login('github')">Github</button>
      </div>
      <div class="col button-row text-center">
        <button type="button" class="button button-block button-positive icon-left ion-social-facebook" ng-click="login('facebook')">Facebook</button>
      </div>
      <div class="col button-row text-center">
        <button type="button" class="button button-block button-assertive icon-left ion-social-googleplus" ng-click="login('google')">Google+</button>
      </div>

      <div class="col button-row text-center">
        <button type="button" class="button button-block button-calm icon-left ion-social-twitter" ng-click="login('twitter')">Twitter</button>
      </div>

      <div ng-if="authData.github" class="list card">
        <div class="item item-avatar">
          <img ng-src="{{authData.github.profileImageURL}}" alt="">
          <h2>{{authData.github.displayName}}</h2>
          <p>{{authData.github.username}}</p>
          <p>{{authData.github.uid}}
          <p><i class="icon ion-social-github"></i> Github</p>
        </div>
      </div>
      <div ng-if="authData.facebook" class="list card">
        <div class="item item-avatar">
          <img ng-src="{{authData.facebook.profileImageURL}}" alt="">
          <h2>{{authData.facebook.displayName}}</h2>
          <p>{{authData.facebook.email}}</p>
          <p>{{authData.facebook.uid}}</p>
          <p><i class="icon ion-social-facebook"></i> Facebook</p>
        </div>
      </div>
      <div ng-if="authData.google" class="list card">
        <div class="item item-avatar">
          <img ng-src="{{authData.google.profileImageURL}}" alt="">
          <h2>{{authData.google.displayName}}</h2>
          <p>{{authData.google.id}}</p>
          <p>{{authData.google.uid}}</p>
          <p><i class="icon ion-social-googleplus"></i> Google</p>
        </div>
      </div>
      <div ng-if="authData.twitter" class="list card">
        <div class="item item-avatar">
          <img ng-src="{{authData.twitter.profileImageURL}}" alt="">
          <h2>{{authData.twitter.displayName}}</h2>
          <p>{{authData.twitter.username}}</p>
          <p>{{authData.twitter.uid}}</p>
          <p><i class="icon ion-social-twitter"></i> Twitter</p>
        </div>
      </div>
      <p>GitHub</p>
      <pre>{{ authData.github | json }}</pre>
      <p>Facebook</p>
      <pre>{{ authData.facebook | json }}</pre>
      <p>Google</p>
      <pre>{{ authData.google | json }}</pre>
      <p>Twitter</p>
      <pre>{{ authData.twitter | json }}</pre>
      <p>Auth Data</p>
      <pre>{{ authData | json }}</pre>
    </ion-content>
  </ion-pane>
</body>

</html>